!.gitignore
composer.phar
dist/
.tmp/
node_modules/
bower_components/
app/src/vendor/
app/src/templates/compiled/
app/src/templates/cache/

*~
*.lock
*.tmp
*.bak
*.log
.DS_Store
Thumbs.db
*.sw*
.env

app/src/autoload.php
.env
